<p class="interface">
  <strong>Title:</strong>
  <%= @interface.name %>
</p>

<h2>Sections</h2>
<% @interface.sections.each do |section| %>
    <strong>
      Section:
      <%= link_to 'Destroy', interface_section_path(@interface, section),
              method: :delete,
              data: { confirm: 'Are you sure?' } %></br>

    </strong>
    <p class="section">
    <%= best_in_place section, :name, :url => sectionupdate_path(interface_id: @interface.id, id: section.id ) %>
  </p>

  <p class="section">
    <strong>Count:</strong>

    <%= best_in_place section, :plot_count, :url => sectionupdate_path(interface_id: @interface.id, id: section.id ) %>
  </p>
<% end %>

<h2>Add a section:</h2>
<%= form_for([@interface, @interface.sections.build]) do |f| %>
 <p class="section">
   <%= f.label :name %><br>
   <%= f.text_field :name %>
 </p>
 <p class="section">
   <%= f.label :plot_count %><br>
   <%= f.text_field :plot_count %>
 </p>
 <p>
   <%= f.submit %>
 </p>
<% end %>

<%= link_to 'Edit', edit_interface_path(@interface) %> |
<%= link_to 'Back', interfaces_path %>
